GetDataFromTeamWork/target/
GetDataFromTeamWork/.settings/
GetDataFromTeamWork/.project
GetDataFromTeamWork/.classpath
GetDataFromTeamWork/config.properties
GetDataFromTeamWork/temp/
GetDataFromTeamWork/.settings/
GetDataFromTeamWork/.classpath
GetDataFromTeamWork/.project
GetDataFromTeamWork/.classpath
